{
	admin off
	auto_https off
	persist_config off
	log {
		format json
	}
}

:8080 {
	header /_build/assets* {
		Cache-Control "max-age=31536000, immutable"
	}
	header /_server/assets* {
		Cache-Control "max-age=31536000, immutable"
	}
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "1; mode=block"
	}

	handle /api/* {
		reverse_proxy {$PRIVATE_API_URL}
	}

	handle {
		root * /var/www

		try_files {path} index.html

		file_server {
			precompressed zstd br gzip
		}
	}
}
