set -e
export TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjY5MTc3NDEsImlkIjoiOTQ0MDU1NWItOTk2OS00NGMyLWJhZjUtMmVmZGY1NzUwNGRkIn0._yKffu215l4lRyHm72vYBtGdi5An1DgE0eI4juAerCZ11KNCesk0mQ1-2Q5L5DCd1imVL3fjyOm-NRuYZjG-BA
export TURSO_CONNECTION_URL=libsql://rkanban2-vanillacode314.turso.io
export AUTH_SECRET=FyM/fS0oWBSyJp2agR9ByXo7wLGf1zDj7MzF/Ctde8ut8DGcUijRVdafTOlxmJsTqmNt0bMZy8HKwErvu+R31Q==
export RESEND_API_KEY=re_VA8XuVZi_JR5o7wtiJVsRPJie7SjzzA9n
export NOTIFICATIONS_EMAIL_ADDRESS='RKanban <no-reply@notifications.raqueeb.com>'
export PUBLIC_SOCKET_URL=ws://localhost:3002/api/v1/ws
export PUBLIC_PUBLISH_URL=http://localhost:3002/api/v1/publish-update
NODE_VERSIONS=$HOME/.local/share/nvm
NODE_VERSION_PREFIX=v
use node
