<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<title>CrossWS Test Page</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<style>
			body {
				background-color: #1a1a1a;
			}
		</style>
		<script type="module">
			// https://github.com/vuejs/petite-vue
			import { createApp, reactive, nextTick } from 'https://esm.sh/petite-vue@0.4.1';

			let ws;

			const store = reactive({
				message: '',
				messages: []
			});

			const scroll = () => {
				nextTick(() => {
					const el = document.querySelector('#messages');
					el.scrollTop = el.scrollHeight;
					el.scrollTo({
						top: el.scrollHeight,
						behavior: 'smooth'
					});
				});
			};

			const format = async () => {
				for (const message of store.messages) {
					if (!message._fmt && message.text.startsWith('{')) {
						message._fmt = true;
						const { codeToHtml } = await import('https://esm.sh/shiki@1.0.0');
						const str = JSON.stringify(JSON.parse(message.text), null, 2);
						message.formattedText = await codeToHtml(str, {
							lang: 'json',
							theme: 'dark-plus'
						});
					}
				}
			};

			const log = (user, ...args) => {
				console.log('[ws]', user, ...args);
				store.messages.push({
					text: args.join(' '),
					formattedText: '',
					user: user,
					date: new Date().toLocaleString()
				});
				scroll();
				format();
			};

			const connect = async () => {
				const isSecure = location.protocol === 'https:';
				const url = (isSecure ? 'wss://' : 'ws://') + location.host + '/api/v1/ws';
				if (ws) {
					log('ws', 'Closing previous connection before reconnecting...');
					ws.close();
					clear();
				}

				log('ws', 'Connecting to', url, '...');
				ws = new WebSocket(url);

				ws.addEventListener('message', (event) => {
					const { user = 'system', message = '' } =
						event.data.startsWith('{') ? JSON.parse(event.data) : { message: event.data };
					log(user, typeof message === 'string' ? message : JSON.stringify(message));
				});

				await new Promise((resolve) => ws.addEventListener('open', resolve));
				log('ws', 'Connected!');
			};

			const clear = () => {
				store.messages.splice(0, store.messages.length);
				log('system', 'previous messages cleared');
			};

			const send = () => {
				console.log('sending message...');
				if (store.message) {
					ws.send(store.message);
				}
				store.message = '';
			};

			const ping = () => {
				log('ws', 'Sending ping');
				ws.send('ping');
			};

			createApp({
				store,
				send,
				ping,
				clear,
				connect,
				rand: Math.random()
			}).mount();

			await connect();
		</script>
	</head>
	<body class="flex h-screen flex-col justify-between">
		<main v-scope="{}">
			<!-- Messages -->
			<div id="messages" class="flex flex-grow flex-col justify-end px-4 py-8">
				<div class="mb-4 flex items-center" v-for="message in store.messages">
					<div class="flex flex-col">
						<p class="mb-1 ml-10 text-xs text-gray-500">{{ message.user }}</p>
						<div class="flex items-center">
							<img
								:src="'https://www.gravatar.com/avatar/' + encodeURIComponent(message.user + rand) + '?s=512&d=monsterid'"
								alt="Avatar"
								class="h-8 w-8 rounded-full"
							/>
							<div class="ml-2 rounded-lg bg-gray-800 p-2">
								<p
									v-if="message.formattedText"
									class="overflow-x-scroll"
									v-html="message.formattedText"
								></p>
								<p v-else class="text-white">{{ message.text }}</p>
							</div>
						</div>
						<p class="ml-10 mt-1 text-xs text-gray-500">{{ message.date }}</p>
					</div>
				</div>
			</div>

			<!-- Chatbox -->
			<div class="fixed bottom-0 flex w-full items-center justify-between bg-gray-800 px-4 py-2">
				<div class="w-full min-w-6">
					<input
						type="text"
						placeholder="Type your message..."
						class="w-full rounded-l-lg bg-gray-700 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
						@keydown.enter="send"
						v-model="store.message"
					/>
				</div>
				<div class="flex">
					<button class="bg-blue-500 px-4 py-2 text-white hover:bg-blue-600" @click="send">
						Send
					</button>
					<button class="bg-blue-500 px-4 py-2 text-white hover:bg-blue-600" @click="ping">
						Ping
					</button>
					<button class="bg-blue-500 px-4 py-2 text-white hover:bg-blue-600" @click="connect">
						Reconnect
					</button>
					<button
						class="rounded-r-lg bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
						@click="clear"
					>
						Clear
					</button>
				</div>
			</div>
		</main>
	</body>
</html>
