set -e
export TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjY5MTc3NDEsImlkIjoiOTQ0MDU1NWItOTk2OS00NGMyLWJhZjUtMmVmZGY1NzUwNGRkIn0._yKffu215l4lRyHm72vYBtGdi5An1DgE0eI4juAerCZ11KNCesk0mQ1-2Q5L5DCd1imVL3fjyOm-NRuYZjG-BA
export TURSO_CONNECTION_URL=libsql://rkanban2-vanillacode314.turso.io
NODE_VERSIONS=$HOME/.local/share/nvm
NODE_VERSION_PREFIX=v
use node
